<div class="container">
    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label><span class="ng-scope" translate="KERBEROS.EXPIRY_DATE"></span></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input type="text" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label><span class="ng-scope" translate="KERBEROS.DURATION"></span></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input type="text" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <button type="submit" class="btn btn-primary ng-scope" translate="SAVE"></button>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label><span class="ng-scope" translate="KERBEROS.AUTHENTICATION_DOMAIN"></span></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input type="text" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
        </div>
        <div  class="col-lg-4 col-md-4 col-sm-4">
            <button type="submit" class="btn btn-primary ng-scope" translate="SAVE"></button>
        </div>
    </div>

    <div>
        <section>
            <option>user1</option>
        </section>
    </div>

</div>
